* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

#formInitProduct {
    margin: 0 auto;
    width: 600px;
    height: auto;
}

#updateProductForm {
    width: 600px;
    margin: 0 auto;
    height: auto;
}